html {
    background-color: rgb(50, 50, 50);
    color: aliceblue;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
}

summary:hover {
    cursor: pointer;
    color: lightblue;
}

summary:active {
    color: gray;
}

.root {
    font-size: 30px;
    margin-left: 30px;
}

.unit {
    font-size: 24px;
}

.chapter {
    font-size: 18px;
}

.section {
    font-size: 16px;
}

.section table {
}

table {
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
}

th {
    opacity: 0.6;
    font-weight: normal;
    font-style: normal;
    border: none;
    padding-right: 15px;
}

th:after {
    content: ":";
}

td {
    border: none;
    font-style: italic;
}

.check{
    font-weight: normal;
    font-style: normal;
}

.notdone::before {
    color: red;
    content: "☐";
}

.done::before {
    color: green;
    content: "🗹";
}
